@using TandemBooking.ViewModels.Booking;
@model TandemBooking.ViewModels.Booking.BookingViewModel
@{
    ViewData["Title"] = "Booking";
    ViewData["CssClass"] = "booking";
}
    <h2>@ViewData["Title"]</h2>

    <p class="readwrap">
        Vi er glade for å kunne vise deg Nord-Norge og Bodø fra luften, og hva paragliding dreier seg om.
        Fyll ut skjemaet under, så vil en av våre piloter kontakte deg for å avtale detaljene.
    </p>

    @* All of this instead of @Html.ValidationSummary(false) due to a bug in ASP.NET Core 1.0 (probably fixed in 1.1) *@
    @if (!@ViewData.ModelState.IsValid)
    {
        var errors = ViewData.ModelState.Values.Select(item => item.Errors.FirstOrDefault()?.ErrorMessage).Where(item => item != null);
        <div class="alert alert-danger">
            <ul>
                @foreach (var error in errors)
                {
                    <li>@error</li>
                }
            </ul>
        </div>
    }

    <form id="BookingForm" asp-controller="Booking" asp-action="Index" method="post">
        <div class="form-group">
            <h5>
                <label asp-for="Date">
                    Når ønsker du å fly?
                </label>
            </h5>
            <div id="datepicker" data-date='@Model.Date?.ToString("MM/dd/yyyy")'></div>
            <input type="hidden" asp-for="Date"/>
            <p>
                <span asp-validation-for="Date" class="text-danger"></span>
            </p>
        </div>

        <div class="info-text air-vertical">
            Under Midnattsol Cupen vil vi også booke gjennom dette systemet, men da til noe reduserte priser!
        </div>

        <div class="info-text air-vertical">
            Husk at paragliding er en veldig væravhengig sport. Sikkerheten er viktigst, og vi vil ikke starte om værforholdene ikke tillater det. Om den valgte dagen viser seg å ikke være flybar, kontakter piloten deg for å kansellere turen eventuelt finne et annet egnet tidspunkt. Du betaler selvfølgelig ingenting om vi ikke er i stand til å fly.
        </div>

        <p class="readwrap">
            <strong>Prisliste</strong>
            <table class="table">
                            <tr>
                    <td>Normalpris</td>
                    <td class="text-right">1&nbsp;900,-</td>
                </tr>
                <tr>
                    <td>Pris under Midnattsol Cupen</td>
                    <td class="text-right">1&nbsp;900,-</td>
                </tr>
                <tr>
                    <td>Andre startområder utenfor byen</td>
                    <td class="text-right">Avtales med pilot</td>
                </tr>
<!-- 
                <tr>
                    <td>Extra for photos/video using the pilots equipment</td>
                    <td class="text-right">200,-</td>
                </tr>
                -->
            </table>
            Normalpris dekker transport til start fra klubbhytta på Løp, eller Bodø sentrum.
            Tillegg for turer med andre startområder utenfor byen, avtales med pilot.
            Alle priser er i norske kroner, og betales til klubbens Vipps-konto <strong>139746</strong>.
      
        </p>

        <div class="details">
            <strong>Personlige opplysninger</strong>
            <div class="form-group" id="primary-passenger-group">
                <label asp-for="Name" class="small">
                    Ditt navn
                </label>
                <div class="row">
                    <div class="col-sm-5">
                        <input type="text" asp-for="Name" class="form-control" placeholder="Navn" />
                    </div>
                    <div class="info col-sm-7">
                    </div>
                </div>
                <p>
                    <span asp-validation-for="Name" class="text-danger small">
                    </span>
                </p>
            </div>

            <div class="form-group" id="primary-passenger-group">
                <label asp-for="Weight" class="small">
                    Vennligst oppgi omtrentlig vekt i kg
                </label>
                <div class="row">
                    <div class="col-sm-5">
                        <input type="text" asp-for="Weight" class="form-control" placeholder="Omtrentlig vekt" />
                    </div>
                    <div class="info col-sm-7">
                        Paraglidere er klassifiserte for et gitt vektspenn. Ved å oppgi riktig vekt kan vi finne en pilot som vil holde dere samlet innenfor vingens klassifiserte vektspenn.
                    </div>
                </div>
                <p>
                    <span asp-validation-for="Weight" class="text-danger small">
                    </span>
                </p>
            </div>
            

            <div class="form-group">
                <label asp-for="PhoneNumber" class="small">
                    Mobil
                </label>
                <div class="row">
                    <div class="col-sm-5">
                        <input type="tel" asp-for="PhoneNumber" class="form-control" placeholder="Mobilnummer" />
                    </div>
                    <div class="info col-sm-7 small">
                        Piloten vil kontakte deg på dette mobilnummeret for å avtale detaljene rundt turen. Det vil ikke blir benyttet for andre formål.
                    </div>
                </div>
                <p>
                    <span asp-validation-for="PhoneNumber" class="text-danger small"></span>
                </p>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="small">
                    E-post
                </label>
                <div class="row">
                    <div class="col-sm-5">
                        <input type="email" asp-for="Email" class="form-control" placeholder="E-post-adresse (valgfritt)" />
                    </div>
                    <p class="info col-sm-7 small">
                        Valgfri e-post-adresse piloten kan sende bilder/video fra turen til. Avtal detaljene med piloten.
                    </p>
                </div>
                <p>
                    <span asp-validation-for="Email" class="text-danger small"></span>
                </p>
            </div>

            <div class="form-group">
                <label asp-for="Comment">
                    Melding til piloten
                </label>
                <div class="row">
                    <div class="col-sm-5">
                        <textarea asp-for="Comment" class="form-control"></textarea>
                    </div>
                    <p class="col-sm-7 small">
                        Annen informasjon du ønsker oppgi til piloten, f.eks. tidsbegrensninger eller andre behov.
                    </p>
                </div>
                <p>
                    <span asp-validation-for="Comment" class="text-danger small"></span>
                </p>
            </div>

            <p class="small">
                Om dere er en gruppe folk som ønsker å fly sammen, vennligst bruk "Legg til ekstra passasjer"-knappen under og legg inn navnene på de som ønsker å fly sammen, slik at vi kan prøve å sørge for nok piloter for en felles flytur.
            </p>
            
            <p class="small">
                Om du booker på vegne av noen andre (f.eks. bursdag eller utdrikningslag), skriv navnet til passasjeren i navnefeltet over, og bruk ditt eget mobilnummer. I tillegg, vennligst beskriv litt om omstendighetene vedrørende ønsket tur, i boksen "Melding til piloten".
            </p>
            
            @* add additional passengers on a postback with invalid model *@
            @{ 
                var currentAdditionalPassengerIndex = 1;
            }
            @foreach (var additionalPassenger in Model.AdditionalPassengers ?? new AdditionalPassengerViewModel[] { })
            {
                <div class="additional-passenger">
                    <input type="hidden" name="AdditionalPassengers.Index" value="@currentAdditionalPassengerIndex" />

                    <div class="form-group">
                        <label class="small">
                            Tilleggspassasjerens navn
                        </label>
                        <div class="row">
                            <div class="col-sm-5 col-xs-8">
                                <input type="text" name="AdditionalPassengers[@currentAdditionalPassengerIndex].Name" class="form-control" placeholder="Please enter the passenger name" value="@additionalPassenger.Name" />
                            </div>
                            <div class="info col-sm-7 col-xs-4">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="small">
                            Tilleggspassasjerens omtrentlige vekt (i kg)
                        </label>
                        <div class="row">
                            <div class="col-sm-5 col-xs-8">
                                <input type="text" name="AdditionalPassengers[@currentAdditionalPassengerIndex].Weight" class="form-control" placeholder="Please enter the passenger weight" value="@additionalPassenger.Weight" />
                            </div>
                            <div class="info col-sm-7 col-xs-4">
                                <button class="btn remove-passenger-button" type="button">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
                {
                    currentAdditionalPassengerIndex++;
                }
            }
            
            <template id="add-passenger-marker"></template>
            
            <div class="form-group">
                <p>
                    <span asp-validation-for="AdditionalPassengers" class="text-danger small"></span>
                </p>
            </div>
            
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12">
                        <button class="btn btn-secondary" type="button" id="add-passenger-button">Legg til ekstra passasjer</button>
                    </div>
                </div>
            </div>

            <p class="small">
                Når du sender inn skjemaet med knappen under, prøver vi å finne en tilgjengelig pilot som kan tilby en tandemtur. Piloten vil ringe deg for å avtale nøyaktig tid og sted du ønsker å fly. Om du legger inn en e-post-adresse, sender vi en bekreftelsesmail til deg, med pilotens navn og mobilnummer.
            </p>

            <div class="text-center air-vertical">
                <button type="submit" class="btn btn-lg btn-action">Ta mæ til himmels!</button>
            </div>
        </div>

</form>

@section scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>
        $('.input-validation-error').parents('.form-group').addClass('has-error');

        $(document).ready(function () {
            var form = $('#BookingForm')
                , formData = $.data(form[0])
                , settings = formData.validator.settings
                // Store existing event handlers in local variables
                , oldErrorPlacement = settings.errorPlacement
                , oldSuccess = settings.success;

            settings.errorPlacement = function (label, element) {
                // Call old handler so it can update the HTML
                oldErrorPlacement(label, element);

                // Add Bootstrap classes to newly added elements
                label.parents('.form-group').addClass('has-error');
                label.addClass('text-danger');
            };

            settings.success = function (label) {
                // Remove error class from <div class="form-group">, but don't worry about
                // validation error messages as the plugin is going to remove it anyway
                label.parents('.form-group').removeClass('has-error');

                // Call old handler to do rest of the work
                oldSuccess(label);
            };
        });

    </script>
    
    @* template used when adding additional passengers dynamically *@
    <template id="add-passenger-template">
        <div class="additional-passenger">
            <input type="hidden" name="AdditionalPassengers.Index" value="--index--" />

            <div class="form-group">
                <label class="small">
                    Ekstra-passasjerens navn
                </label>
                <div class="row">
                    <div class="col-sm-5 col-xs-8">
                        <input type="text" name="AdditionalPassengers[--index--].Name" class="form-control" placeholder="Navn" value="" />
                    </div>
                    <div class="info col-sm-7 col-xs-4">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="small">
                    Ekstra-passasjerens omtrentlige vekt (i kg)
                </label>
                <div class="row">
                    <div class="col-sm-5 col-xs-8">
                        <input type="text" name="AdditionalPassengers[--index--].Weight" class="form-control" placeholder="Omtrentlig vekt" value="" />
                    </div>
                    <div class="info col-sm-7 col-xs-4">
                        <button class="btn remove-passenger-button" type="button">Fjern</button>
                    </div>
                </div>
            </div>
        </div>
    </template>

    <script>
        var addPassengerService = 1000;
        var addPassengerButton = document.getElementById("add-passenger-button");
        var addPassengerMarker = document.getElementById("add-passenger-marker");
        var addPassengerTemplate = document.getElementById("add-passenger-template");
        $(addPassengerButton).on("click", function () {
            var addPassengerHtml = $(addPassengerTemplate).html();
            addPassengerHtml.replace('--index--', '' + addPassengerService)
            addPassengerService++;

            $(addPassengerHtml).insertBefore(addPassengerMarker);
        });
        
        $(document).on("click", ".remove-passenger-button", function (e) {
            $(e.target).closest(".additional-passenger").remove();
        });
    
    </script>

    <script>
        function isValidDate(date) {
            date = new Date(date.getFullYear(), date.getMonth(), date.getDate());

            //should be in the future            
            var now = new Date();
            var today = new Date(now.getFullYear(), now.getMonth(), now.getDate());
            if (date < today) {
                return false;
            }
            
            //should not be during veko
            var vekoStart = new Date(2017, 6-1, 26);
            var vekoEnd = new Date(2017, 7-1, 1);
            if (date >= vekoStart && date <= vekoEnd) {
                return {
                    enabled: false,
                    tooltip: 'Please visit the tandem booking booth during ekstremsportveko'
                };
            }

            return true;
        }

        function isValidMonth(date) {
            var today = new Date();

            if (today.getYear() < date.getYear()) {
                return true;
            }
            if (today.getYear() > date.getYear()) {
                return false;
            }
            return today.getMonth() <= date.getMonth();
        }

        function isValidYear(date) {
            var today = new Date();
            return today.getYear() <= date.getYear();
        }

        $('#datepicker').datepicker({
            format: "mm/dd/yyyy",
            beforeShowDay: isValidDate,
            beforeShowMonth: isValidMonth,
            beforeShowYear: isValidYear,
            maxViewMode: 2
        });
        $('#datepicker').on("changeDate", function () {
            $('#Date').val(
                $('#datepicker').datepicker('getFormattedDate')
            );
        });
    </script>
}