@using TandemBooking.ViewModels.Booking;
@model TandemBooking.ViewModels.Booking.BookingViewModel
@{
    ViewData["Title"] = "Booking";
    ViewData["CssClass"] = "booking";
}
    <h2>@ViewData["Title"]</h2>

    <div class="info-text air-vertical" style="background-color: #ff400f">
        Due to the corona situation we are currently unable to fly tandems. Hopefully we'll be able to resume tandem flying soon. Please check back for updates.
    </div>


    <p class="readwrap">
        Awesome!<br />We're super excited about showing you Voss from the air, and what paragliding is all about. Fill out
        the form below, and one of our pilots will contact you and arrange the details.
    </p>

    @* All of this instead of @Html.ValidationSummary(false) due to a bug in ASP.NET Core 1.0 (probably fixed in 1.1) *@
    @if (!@ViewData.ModelState.IsValid)
    {
        var errors = ViewData.ModelState.Values.Select(item => item.Errors.FirstOrDefault()?.ErrorMessage).Where(item => item != null);
        <div class="alert alert-danger">
            <ul>
                @foreach (var error in errors)
                {
                    <li>@error</li>
                }
            </ul>
        </div>
    }

    <form id="BookingForm" asp-controller="Booking" asp-action="Index" method="post">
        <div class="form-group">
            <h5>
                <label asp-for="Date">
                    When would you like to fly?
                </label>
            </h5>
            <div id="datepicker" data-date='@Model.Date?.ToString("MM/dd/yyyy")'></div>
            <input type="hidden" asp-for="Date"/>
            <p>
                <span asp-validation-for="Date" class="text-danger"></span>
            </p>
        </div>

        @*<div class="info-text air-vertical">
            During <a href="https://ekstremsportveko.com">ekstremsportveko</a>, the online booking is unavailable. Instead visit the tandem booking booth on prestegardslandet, and we'll get you flying!
        </div>*@

        <div class="info-text air-vertical">
            Please note that paragliding is very dependent on weather. Safety is paramount, and we will only fly if the weather conditions permit it. If the selected day turns out to be unflyable, your pilot will contact you to cancel the flight. You will of course not pay anything if we're unable to fly.
        </div>

        <p class="readwrap">
            <strong>Current prices</strong>
            <table class="table">
                <tr>
                    <td>Regular price from Hangur (not including gondola ticket)</td>
                    <td class="text-right">2&nbsp;400,-</td>
                </tr>
                <tr>
                    <td>Price for flights from other mountain takeoffs (including transport)</td>
                    <td class="text-right">2&nbsp;900,-</td>
                </tr>
                <tr>
                    <td>Price for flight in Aurland</td>
                    <td class="text-right">3&nbsp;400,-</td>
                </tr>
                <tr>
                    <td>Price for flight with boat-tow launch</td>
                    <td class="text-right">2&nbsp;900,-</td>
                </tr>
                <tr>
                    <td>Extra for photos/video using the pilots equipment</td>
                    <td class="text-right">200,-</td>
                </tr>
            </table>
            Most days we fly from Hangur, near the top station of <a href="https://www.vossgondol.no">Voss Gondol</a>. You must pay your own one-way ticket to the top to get to the take-off. Depending on weather, we might have to choose another takeoff location (mountain or winch). All prices are in norwegian kroner and are paid directly to the pilot.
        </p>

        <div class="details">
            <strong>Your details</strong>
            <div class="form-group" id="primary-passenger-group">
                <label asp-for="Name" class="small">
                    Please enter your name
                </label>
                <div class="row">
                    <div class="col-sm-5">
                        <input type="text" asp-for="Name" class="form-control" placeholder="Please enter your name" />
                    </div>
                    <div class="info col-sm-7">
                    </div>
                </div>
                <p>
                    <span asp-validation-for="Name" class="text-danger small">
                    </span>
                </p>
            </div>

            <div class="form-group" id="primary-passenger-group">
                <label asp-for="Weight" class="small">
                    Please enter your approximate weight in kg
                </label>
                <div class="row">
                    <div class="col-sm-5">
                        <input type="text" asp-for="Name" class="form-control" placeholder="Please enter your approximate weight" />
                    </div>
                    <div class="info col-sm-7">
                        Paragliders are certified for a certain weight range. By entering your weight we can find a pilot whose weight will allow you to stay in the certified weight range.
                    </div>
                </div>
                <p>
                    <span asp-validation-for="Weight" class="text-danger small">
                    </span>
                </p>
            </div>
            

            <div class="form-group">
                <label asp-for="PhoneNumber" class="small">
                    Phone number
                </label>
                <div class="row">
                    <div class="col-sm-5">
                        <input id="@Html.IdFor(m => m.PhoneNumber)" type="tel" asp-for="PhoneNumber" class="form-control" placeholder="Please enter a phone number" />
                    </div>
                    <div class="info col-sm-7 small">
                        Your pilot will contact you on this phone number in order to arrange the details for your flight. It will not be used for any other purpose.
                    </div>
                </div>
                <p>
                    <span asp-validation-for="PhoneNumber" class="text-danger small"></span>
                </p>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="small">
                    Email
                </label>
                <div class="row">
                    <div class="col-sm-5">
                        <input type="email" asp-for="Email" class="form-control" placeholder="Optionally enter an email address" />
                    </div>
                    <p class="info col-sm-7 small">
                        An optional email address the pilot can use to send pictures/video of your flight. Arrange the details with your pilot.
                    </p>
                </div>
                <p>
                    <span asp-validation-for="Email" class="text-danger small"></span>
                </p>
            </div>

            <div class="form-group">
                <label asp-for="Comment">
                    Message to pilot
                </label>
                <div class="row">
                    <div class="col-sm-5">
                        <textarea asp-for="Comment" class="form-control"></textarea>
                    </div>
                    <p class="col-sm-7 small">
                        Extra information you want to share with the pilot, e.g. time constraints or other requirements.
                    </p>
                </div>
                <p>
                    <span asp-validation-for="Comment" class="text-danger small"></span>
                </p>
            </div>

            <p class="small">
                If you are a group of people wanting to fly together, please use the "add extra passenger"-button below and enter their names. That way we can find enough pilots so you can all fly toghether.
            </p>
            
            <p class="small">
                If you are a booking on behalf of somebody else (e.g. birthday or hen/stag party), enter the name of the passenger in the name field above, and use your own phone number. Also, please add a comment about the circumstances of the flight.
            </p>
            
            @* add additional passengers on a postback with invalid model *@
            @{ 
                var currentAdditionalPassengerIndex = 1;
            }
            @foreach (var additionalPassenger in Model.AdditionalPassengers ?? new AdditionalPassengerViewModel[] { })
            {
                <div class="additional-passenger">
                    <input type="hidden" name="AdditionalPassengers.Index" value="@currentAdditionalPassengerIndex" />

                    <div class="form-group">
                        <label class="small">
                            Name of additional passenger
                        </label>
                        <div class="row">
                            <div class="col-sm-5 col-xs-8">
                                <input type="text" name="AdditionalPassengers[@currentAdditionalPassengerIndex].Name" class="form-control" placeholder="Please enter the passenger name" value="@additionalPassenger.Name" />
                            </div>
                            <div class="info col-sm-7 col-xs-4">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="small">
                            Weight of additional passenger (in kg)
                        </label>
                        <div class="row">
                            <div class="col-sm-5 col-xs-8">
                                <input type="text" name="AdditionalPassengers[@currentAdditionalPassengerIndex].Weight" class="form-control" placeholder="Please enter the passenger weight" value="@additionalPassenger.Weight" />
                            </div>
                            <div class="info col-sm-7 col-xs-4">
                                <button class="btn remove-passenger-button" type="button">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
                {
                    currentAdditionalPassengerIndex++;
                }
            }
            
            <template id="add-passenger-marker"></template>
            
            <div class="form-group">
                <p>
                    <span asp-validation-for="AdditionalPassengers" class="text-danger small"></span>
                </p>
            </div>
            
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12">
                        <button class="btn btn-secondary" type="button" id="add-passenger-button">Add Extra Passenger</button>
                    </div>
                </div>
            </div>

            <p class="small">
                When you click the submit button below, we will try to find an available pilot who can give you a tandem flight. The pilot will call you to discuss the exact time and place you'll fly. If you enter an email address, we'll send you a confirmation email with name and phone number to your pilot.
            </p>

            <div class="text-center air-vertical">
                <button type="submit" class="btn btn-lg btn-action">Take me flying!</button>
            </div>
        </div>

</form>

@section scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>
        $('.input-validation-error').parents('.form-group').addClass('has-error');

        $(document).ready(function () {
            var form = $('#BookingForm')
                , formData = $.data(form[0])
                , settings = formData.validator.settings
                // Store existing event handlers in local variables
                , oldErrorPlacement = settings.errorPlacement
                , oldSuccess = settings.success;

            settings.errorPlacement = function (label, element) {
                // Call old handler so it can update the HTML
                oldErrorPlacement(label, element);

                // Add Bootstrap classes to newly added elements
                label.parents('.form-group').addClass('has-error');
                label.addClass('text-danger');
            };

            settings.success = function (label) {
                // Remove error class from <div class="form-group">, but don't worry about
                // validation error messages as the plugin is going to remove it anyway
                label.parents('.form-group').removeClass('has-error');

                // Call old handler to do rest of the work
                oldSuccess(label);
            };
        });

    </script>
    
    @* template used when adding additional passengers dynamically *@
    <template id="add-passenger-template">
        <div class="additional-passenger">
            <input type="hidden" name="AdditionalPassengers.Index" value="--index--" />

            <div class="form-group">
                <label class="small">
                    Name of additional passenger
                </label>
                <div class="row">
                    <div class="col-sm-5 col-xs-8">
                        <input type="text" name="AdditionalPassengers[--index--].Name" class="form-control" placeholder="Please enter the passenger name" value="" />
                    </div>
                    <div class="info col-sm-7 col-xs-4">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="small">
                    Weight of additional passenger (in kg)
                </label>
                <div class="row">
                    <div class="col-sm-5 col-xs-8">
                        <input type="text" name="AdditionalPassengers[--index--].Weight" class="form-control" placeholder="Please enter the passenger weight" value="" />
                    </div>
                    <div class="info col-sm-7 col-xs-4">
                        <button class="btn remove-passenger-button" type="button">Remove</button>
                    </div>
                </div>
            </div>
        </div>
    </template>

    <script>
        var addPassengerService = 1000;
        var addPassengerButton = document.getElementById("add-passenger-button");
        var addPassengerMarker = document.getElementById("add-passenger-marker");
        var addPassengerTemplate = document.getElementById("add-passenger-template");
        $(addPassengerButton).on("click", function () {
            var addPassengerHtml = $(addPassengerTemplate).html();
            addPassengerHtml = addPassengerHtml.replace(new RegExp('--index--', 'g'), '' + addPassengerService);
            addPassengerService++;

            $(addPassengerHtml).insertBefore(addPassengerMarker);
        });
        
        $(document).on("click", ".remove-passenger-button", function (e) {
            $(e.target).closest(".additional-passenger").remove();
        });
    
    </script>

    <script>
        function isValidDate(date) {
            date = new Date(date.getFullYear(), date.getMonth(), date.getDate());

            //should be in the future            
            var now = new Date();
            var today = new Date(now.getFullYear(), now.getMonth(), now.getDate());
            if (date < today) {
                return false;
            }
            
            //should not be during veko
            var vekoStart = new Date(2019, 6-1, 24);
            var vekoEnd = new Date(2019, 6-1, 29);
            if (date >= vekoStart && date <= vekoEnd) {
                return {
                    enabled: false,
                    tooltip: 'Please visit the tandem booking booth during ekstremsportveko'
                };
            }

            return true;
        }

        function isValidMonth(date) {
            var today = new Date();

            if (today.getYear() < date.getYear()) {
                return true;
            }
            if (today.getYear() > date.getYear()) {
                return false;
            }
            return today.getMonth() <= date.getMonth();
        }

        function isValidYear(date) {
            var today = new Date();
            return today.getYear() <= date.getYear();
        }

        $('#datepicker').datepicker({
            format: "mm/dd/yyyy",
            beforeShowDay: isValidDate,
            beforeShowMonth: isValidMonth,
            beforeShowYear: isValidYear,
            maxViewMode: 2
        });
        $('#datepicker').on("changeDate", function () {
            $('#Date').val(
                $('#datepicker').datepicker('getFormattedDate')
            );
        });
    </script>
    
    <script>
        (function() {
            var inputElement = document.getElementById("@Html.IdFor(m => m.PhoneNumber)");
            var intlInput = window.intlTelInput(inputElement,
                {
                    initialCountry: "no",
                    preferredCountries: ["no"],
                    separateDialCode: true,
                    utilsScript: "/lib/intl-tel-input/js/utils.js",
                    hiddenInput: "IntlPhoneNumber",
                });
        })();
    </script>
}