@using System.Security.Claims
@using TandemBooking.ViewModels
@model TandemBooking.ViewModels.PilotAvailabilityViewModel

@{
    ViewData["Title"] = $"Availability for {User.GetUserName()}";
}

<style>
    .available {
        background-color: lightgreen;
    }

    .unavailable {
        background-color: lightsalmon;
    }

    .past {
        opacity: 0.8;
    }

    .pilot-availability a {
        color: inherit;
    }

</style>

<h2>@ViewData["Title"]</h2>

<p>
    Please select the dates you are available for tandem flights. Green means you are available on the selected date, red means unavailable.
</p>

<div class="row">
    <div class="col-xs-2">
        <h2><a href="@Url.Action("Index", new {date = Model.Prev.Date})">&lt;</a></h2>
    </div>
    <div class="col-xs-8 text-center">
        <h2>@Model.MonthName</h2>
    </div>
    <div class="col-xs-2 text-right">
        <h2><a href="@Url.Action("Index", new {date = Model.Next.Date})">&gt;</a></h2>
    </div>
</div>

<table class="table table-bordered pilot-availability" style="width: 100%; table-layout: fixed;">
    <tr>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
        <th>Sun</th>
    </tr>
    @{
        int day = 0;
    }
    @while (Model.StartDate.AddDays(day) <= Model.EndDate)
    {
        <tr>
            @for (int weekDay = 0; weekDay < 7; weekDay++)
            {
                var date = Model.StartDate.AddDays(day);
                var isAvailable = Model.Availabilities.Any(a => a.Date == date);
                var inPast = date < DateTime.Now.Date;

                <td class="@(isAvailable ? "available" : "unavailable") @(inPast ? "past" : "future")" style="position: relative; height: 50px">

                    @if (!inPast)
                    {
                        var url = Url.Action("SetAvailability", new {date = date, available = !isAvailable});

                        <a style="display: block; width: 100%; height: 100%" href="@url" onclick="postAvailability('@url'); return false">
                            @date.Day
                        </a>
                    }
                    else
                    {
                        @date.Day
                    }
                </td>

                {
                    day++;
                }
            }
        </tr>
    }
</table>

<script>
    function postAvailability(url) {
        $.post(url, {}, function () {
            window.location.reload();
        });
    }

</script>