@model TandemBooking.Controllers.EditUserViewModel
@{
    ViewData["Title"] = string.IsNullOrEmpty(Model.User.Name) ? "Edit User" : Model.User.Name;
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-8">
        <section>
            <form asp-controller="UserAdmin" asp-action="EditUser" method="post" class="form-horizontal" role="form">
                <input type="hidden" asp-for="User.Id" />
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="User.Name" class="col-md-2 control-label">Name</label>
                    <div class="col-md-10">
                        <input asp-for="User.Name" class="form-control" />
                        <span asp-validation-for="User.Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="User.Email" class="col-md-2 control-label">Email</label>
                    <div class="col-md-10">
                        <input asp-for="User.Email" class="form-control" />
                        <span asp-validation-for="User.Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="User.PhoneNumber" class="col-md-2 control-label">Phone</label>
                    <div class="col-md-10">
                        <input asp-for="User.PhoneNumber" class="form-control" />
                        <span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="User.VippsPaymentAccountId" class="col-md-2 control-label">Vipps Account</label>
                    <div class="col-md-10">
                        <select asp-for="User.VippsPaymentAccountId" class="form-control">
                            <option value="">No Vipps account</option>
                            @foreach (var acct in Model.VippsAccounts)
                            {
                                <option value="@acct.Id" selected="@(acct.Id == Model.User.VippsPaymentAccountId)">@acct.Name</option>
                            }
                        </select>
                        <span asp-validation-for="User.VippsPaymentAccountId" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="User.IZettlePaymentAccountId" class="col-md-2 control-label">iZettle Account</label>
                    <div class="col-md-10">
                        <select asp-for="User.IZettlePaymentAccountId" class="form-control">
                            <option value="">No iZettle account</option>
                            @foreach (var acct in Model.IZettleAccounts)
                            {
                                <option value="@acct.Id" selected="@(acct.Id == Model.User.VippsPaymentAccountId)">@acct.Name</option>
                            }
                        </select>
                        <span asp-validation-for="User.IZettlePaymentAccountId" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox checkbox-inline">
                            <input asp-for="User.IsPilot" />
                            <label asp-for="User.IsPilot">Pilot</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox checkbox-inline">
                            <input asp-for="User.IsAdmin" />
                            <label asp-for="User.IsAdmin">Admin</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-default">Save</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>